*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;

}



.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;

}

.btn{
    width: 80px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.login{
    padding-left: 20px;

}
form input{
    margin-bottom: 10px;
}